body {
	background-color: #E0E1E2;
}

nav {

    #collapse-header {
        background-color: #4B6E99;

        #toggle-icon {
            margin: 0 auto;
        }
    }
}

.glyphicon-plus-sign {
	margin: .1em 3em;

	&:hover {
        color: #bbb;
    }
}

span {
	font-size: 1.5em;
}

form{
	background-color: white;
	padding-top: 3em;
	margin-top: 0;
}

.container {
	width: 80%;
	padding-bottom: 3em;
}

.urlImage {
	width: 100%;
	padding: .5em;
	margin: 0 auto 1em auto;
}

.urlCaption {
	width: 100%;
	margin: 0 auto;
}

.btnWrapper1 {
	float: left;
	margin-top: 1em;
}

.btnWrapper2 {
	float: right;
	margin-top: 1em;
}

.deleteAllBtn {
	background-color: #F84746;
	color: white;
	border: none;
	white-space: nowrap;
	margin: 0 auto;
	height: 3.5em;
	width: 8em;
	vertical-align: top;
	font-size: .8em;
	border-radius: .5em;
	float: left;
	outline: none;

}

.glyphicon-trash {
	color: white;
	margin-right: .3em;
}

.addBtn {
	background-color: #17AA56;
	font-size: .7em;
	color: white;
	border: none;
	display:inline-block;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	border-radius: .5em;
	outline: none;
}

.cancelBtn {
	background-color: #B6B6B6;
	color: white;
	border: none;
	font-size: .7em;
	display:inline-block;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	height: 4em;
	width: 8em;
	vertical-align: top;
	border-radius: .5em;
	outline: none;
}

.glyphicon-picture {
	color: white;
	margin: .4em .4em .4em .5em;
	font-size: 2em;
}

.imgContainer {
	position: relative;
	padding-top: 2em;
	padding-bottom: 4em;
	width: 100%;
	height: 100%;
	background-color: white;
	display: none;
	margin: 0 auto;
	text-align: center;
}

.photoReal img{
	margin-top: .5em;
    margin-bottom: .5em;
    padding-top: 0.5em;
	width: 28em;
	height: 20em;
}



